<div class="card">
    <input type="text" (input)="getPokemon($any($event.target).value)">
    <div class="card-title">
        <h3>{{pokemon.name | titlecase}}</h3>
    </div>
    <div class="card-body">
        <img [src]="pokemon.sprites.front_default" height="150" alt="pokemon" srcset="">
    </div>
    <div class="card-stats">
        <span 
            class="card-stats-type"    
            *ngFor="let tipo of pokemon.types"
        >
            {{tipo.type.name | uppercase}}
        </span>
    </div>
</div>
