@media screen and (max-width: 300px) {
  .container-menu-title{
    max-width: 280px;
  }

  .container-menu-title > h1{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
  }

  .container-menu-title > hr{
    margin-top: 20px;
    margin-bottom: 5px;
    width: 100%
  }
}