@media screen and (max-width: 300px) {
  .container-menu-title{
    max-width: 280px;
  }

  .container-menu-title > h1{
    font-size: 1rem;
  }
}

@media screen and (min-width: 301px) and (max-width: 600px) {
  .container-menu-title > h1{
    font-size: 1rem;
  }
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
  .container-menu-title > h1{
    font-size: 2rem;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1300px) {
  .container-menu-title > h1{
    font-size: 3rem;
  }
}