header{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 450px) {
    html{
      max-width: 280px;
      border: solid rgb(5, 211, 201) 1px;
    }
  }