* {
    box-sizing: border-box;
    background: rgb(20, 20, 20);
    font-weight: 400;
    font-size: 1rem;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: rgb(1, 80, 53);
}

a {
    color: aquamarine;
    text-decoration: none;
}