@media screen and (max-width: 300px) {
  .container-big-card{
    max-width: 220px;
    height: 400px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .big-card-photo > img{
    min-width: 220px;
    min-height: 180px;
    max-height: 180px;
  }
  
  .big-card-title > h1{
    text-align: center;
  }
  
  .big-card-description{
    margin-bottom: 100px;
    text-align: center;
  }
}