.container-big-card{
  width: 400px;
  height: 400px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.big-card-photo > img{
  width: 100%;
  min-width: 400px;
  min-height: 200px;
  max-height: 200px;
}

.big-card-title > h1{
  font-size: 20px;
  margin-top: 15px;
}

.big-card-description{
  margin-top: 20px;
}

.big-card-description > p > a{
  font-size: 12px;
  color: gray;
}