<div class="container-big-card">

  <div class="big-car-photo">
    <img 
      src="https://source.unsplash.com/random/?technology" 
      alt="" 
      srcset=""
    >
  </div>

  <div class="big-car-title">
    <h1>
      <a href="#">
        Lorem Ipsum dolor sit amet consectetur.
      </a>
    </h1>
  </div>

  <div class="big-car-description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro saepe adipisci itaque reiciendis accusamus. Fugit doloribus odit, explicabo eos eveniet provident voluptatum deserunt, doloremque cumque repellendus dolores at numquam ex?
      </a>
    </p>
  </div>

</div>
